PC/DataCollector.Client/UI/Connected Services/Users/UsersManagementService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsersManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57412/UsersManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57412/UsersManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57412/UsersManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataCollector.Server.DataAccess.Models.Entities" />
      <xsd:import schemaLocation="http://localhost:57412/UsersManagementService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataCollector.Server.DataAccess.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsersManagementService_RecordLogoutTimeStamp_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordLogoutTimeStamp" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_RecordLogoutTimeStamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordLogoutTimeStampResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_GetUserLoginHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLoginHistory" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_GetUserLoginHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLoginHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_ValidateCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCredentials" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_ValidateCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUsersManagementService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsersManagementService">
    <wsdl:operation name="RecordLogoutTimeStamp">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManagementService/RecordLogoutTimeStamp" message="tns:IUsersManagementService_RecordLogoutTimeStamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManagementService/RecordLogoutTimeStampResponse" message="tns:IUsersManagementService_RecordLogoutTimeStamp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLoginHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManagementService/GetUserLoginHistory" message="tns:IUsersManagementService_GetUserLoginHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManagementService/GetUserLoginHistoryResponse" message="tns:IUsersManagementService_GetUserLoginHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManagementService/ValidateCredentials" message="tns:IUsersManagementService_ValidateCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManagementService/ValidateCredentialsResponse" message="tns:IUsersManagementService_ValidateCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManagementService/GetUser" message="tns:IUsersManagementService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManagementService/GetUserResponse" message="tns:IUsersManagementService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManagementService/GetUsers" message="tns:IUsersManagementService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManagementService/GetUsersResponse" message="tns:IUsersManagementService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManagementService/AddUser" message="tns:IUsersManagementService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManagementService/AddUserResponse" message="tns:IUsersManagementService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManagementService/DeleteUser" message="tns:IUsersManagementService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManagementService/DeleteUserResponse" message="tns:IUsersManagementService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersManagementService/UpdateUser" message="tns:IUsersManagementService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersManagementService/UpdateUserResponse" message="tns:IUsersManagementService_UpdateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsersManagementService" type="tns:IUsersManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecordLogoutTimeStamp">
      <soap:operation soapAction="http://tempuri.org/IUsersManagementService/RecordLogoutTimeStamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLoginHistory">
      <soap:operation soapAction="http://tempuri.org/IUsersManagementService/GetUserLoginHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateCredentials">
      <soap:operation soapAction="http://tempuri.org/IUsersManagementService/ValidateCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUsersManagementService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUsersManagementService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IUsersManagementService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUsersManagementService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUsersManagementService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersManagementService">
    <wsdl:port name="BasicHttpBinding_IUsersManagementService" binding="tns:BasicHttpBinding_IUsersManagementService">
      <soap:address location="http://localhost:57412/UsersManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>