PC/DataCollector.Client/UI/Connected Services/Users/UsersManagementService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataCollector.Server.DataAccess.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataCollector.Server.DataAccess.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/UsersManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseTable">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Role" type="tns:UserRole" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="BaseTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseTable" nillable="true" type="tns:BaseTable" />
  <xs:simpleType name="UserRole">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Administrator" />
          <xs:enumeration value="Viewer" />
          <xs:enumeration value="All">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="ArrayOfUserLoginHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserLoginHistory" nillable="true" type="tns:UserLoginHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserLoginHistory" nillable="true" type="tns:ArrayOfUserLoginHistory" />
  <xs:complexType name="UserLoginHistory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseTable">
        <xs:sequence>
          <xs:element minOccurs="0" name="LoginTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LogoutTimeStamp" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserLoginHistory" nillable="true" type="tns:UserLoginHistory" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>