PC/DataCollector.Client/UI/Connected Services/Users/UsersManagementService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataCollector.Server.DataAccess.Models.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataCollector.Server.DataAccess.Models.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57412/UsersManagementService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataCollector.Server.DataAccess.Models" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseTable">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataCollector.Server.DataAccess.Models" minOccurs="0" name="Role" type="q1:UserRole" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="BaseTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseTable" nillable="true" type="tns:BaseTable" />
  <xs:complexType name="ArrayOfUserLoginHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserLoginHistory" nillable="true" type="tns:UserLoginHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserLoginHistory" nillable="true" type="tns:ArrayOfUserLoginHistory" />
  <xs:complexType name="UserLoginHistory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseTable">
        <xs:sequence>
          <xs:element minOccurs="0" name="LoginTimeStamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LogoutTimeStamp" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserLoginHistory" nillable="true" type="tns:UserLoginHistory" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>