PC/DataCollector.Client/UI/Connected Services/DeviceCommunication/WebCommunicationService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataCollector.Server.DataAccess.Models.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataCollector.Server.DataAccess.Models.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MeasureDevice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseTable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Architecture" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IPv4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsConnected" type="xs:boolean" />
          <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MeasurementsMsRequestInterval" type="xs:double" />
          <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WinVer" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MeasureDevice" nillable="true" type="tns:MeasureDevice" />
  <xs:complexType name="BaseTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseTable" nillable="true" type="tns:BaseTable" />
</xs:schema>