PC/DataCollector.Client/DataCollector.Client/DataCollector.Client/Connected Services/ServiceReference1/WebCommunicationService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataCollector.Server.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataCollector.Server.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54221/WebCommunicationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:import schemaLocation="http://localhost:54221/WebCommunicationService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DataCollector.Device.Models" />
  <xs:import schemaLocation="http://localhost:54221/WebCommunicationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:54221/WebCommunicationService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/DataCollector.Server.DataFlow.BroadcastListener.Models" />
  <xs:complexType name="DeviceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Architecture" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="IPv4" nillable="true" type="q1:IPAddress" />
      <xs:element minOccurs="0" name="IsConnected" type="xs:boolean" />
      <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeasurementsMsRequestInterval" type="xs:double" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WinVer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceInfo" nillable="true" type="tns:DeviceInfo" />
  <xs:complexType name="MeasuresArrivedEventArgs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System" base="q2:EventArgs">
        <xs:sequence>
          <xs:element minOccurs="0" name="Source" nillable="true" type="tns:DeviceInfo" />
          <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataCollector.Device.Models" minOccurs="0" name="Value" nillable="true" type="q3:Measures" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MeasuresArrivedEventArgs" nillable="true" type="tns:MeasuresArrivedEventArgs" />
  <xs:complexType name="DeviceUpdatedEventArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Device" nillable="true" type="tns:DeviceInfo" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataCollector.Server.DataFlow.BroadcastListener.Models" minOccurs="0" name="UpdateStatus" type="q4:UpdateStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceUpdatedEventArgs" nillable="true" type="tns:DeviceUpdatedEventArgs" />
</xs:schema>