PC/DataCollector.Client/DataCollector.Client/DataCollector.Client/Connected Services/ServiceReference1/WebCommunicationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataCollector.Device.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataCollector.Device.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Measures">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accelerometer" nillable="true" type="tns:SpherePoint" />
      <xs:element minOccurs="0" name="AirPressure" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="Gyroscope" nillable="true" type="tns:SpherePoint" />
      <xs:element minOccurs="0" name="Humidity" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="IsLedActive" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Measures" nillable="true" type="tns:Measures" />
  <xs:complexType name="SpherePoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:float" />
      <xs:element minOccurs="0" name="Y" type="xs:float" />
      <xs:element minOccurs="0" name="Z" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpherePoint" nillable="true" type="tns:SpherePoint" />
</xs:schema>