PC/DataCollector.Client/UI/Connected Services/DataAccess/MeasureAccessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiveCharts.Defaults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiveCharts.Defaults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArrayOfDateTimePoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfDateTimePoint" nillable="true" type="tns:ArrayOfDateTimePoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfDateTimePoint" nillable="true" type="tns:ArrayOfArrayOfDateTimePoint" />
  <xs:complexType name="ArrayOfDateTimePoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DateTimePoint" nillable="true" type="tns:DateTimePoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDateTimePoint" nillable="true" type="tns:ArrayOfDateTimePoint" />
  <xs:complexType name="DateTimePoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateTimePoint" nillable="true" type="tns:DateTimePoint" />
</xs:schema>