PC/DataCollector.Client/UI/Connected Services/DataAccess/MeasureAccessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MeasureAccessService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/MeasureAccessService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/MeasureAccessService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/MeasureAccessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataCollector.Server.DataAccess.Models" />
      <xsd:import schemaLocation="http://localhost/MeasureAccessService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LiveCharts.Defaults" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMeasureAccessService_UpdateDeviceRequestInterval_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeviceRequestInterval" />
  </wsdl:message>
  <wsdl:message name="IMeasureAccessService_UpdateDeviceRequestInterval_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeviceRequestIntervalResponse" />
  </wsdl:message>
  <wsdl:message name="IMeasureAccessService_GetMeasureDevices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasureDevices" />
  </wsdl:message>
  <wsdl:message name="IMeasureAccessService_GetMeasureDevices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasureDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="IMeasureAccessService_GetMeasures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasures" />
  </wsdl:message>
  <wsdl:message name="IMeasureAccessService_GetMeasures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasuresResponse" />
  </wsdl:message>
  <wsdl:message name="IMeasureAccessService_GetSphereMeasures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSphereMeasures" />
  </wsdl:message>
  <wsdl:message name="IMeasureAccessService_GetSphereMeasures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSphereMeasuresResponse" />
  </wsdl:message>
  <wsdl:portType name="IMeasureAccessService">
    <wsdl:operation name="UpdateDeviceRequestInterval">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasureAccessService/UpdateDeviceRequestInterval" message="tns:IMeasureAccessService_UpdateDeviceRequestInterval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeasureAccessService/UpdateDeviceRequestIntervalResponse" message="tns:IMeasureAccessService_UpdateDeviceRequestInterval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeasureDevices">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasureAccessService/GetMeasureDevices" message="tns:IMeasureAccessService_GetMeasureDevices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeasureAccessService/GetMeasureDevicesResponse" message="tns:IMeasureAccessService_GetMeasureDevices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeasures">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasureAccessService/GetMeasures" message="tns:IMeasureAccessService_GetMeasures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeasureAccessService/GetMeasuresResponse" message="tns:IMeasureAccessService_GetMeasures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSphereMeasures">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeasureAccessService/GetSphereMeasures" message="tns:IMeasureAccessService_GetSphereMeasures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeasureAccessService/GetSphereMeasuresResponse" message="tns:IMeasureAccessService_GetSphereMeasures_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMeasureAccessService" type="tns:IMeasureAccessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateDeviceRequestInterval">
      <soap:operation soapAction="http://tempuri.org/IMeasureAccessService/UpdateDeviceRequestInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeasureDevices">
      <soap:operation soapAction="http://tempuri.org/IMeasureAccessService/GetMeasureDevices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeasures">
      <soap:operation soapAction="http://tempuri.org/IMeasureAccessService/GetMeasures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSphereMeasures">
      <soap:operation soapAction="http://tempuri.org/IMeasureAccessService/GetSphereMeasures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeasureAccessService">
    <wsdl:port name="BasicHttpBinding_IMeasureAccessService" binding="tns:BasicHttpBinding_IMeasureAccessService">
      <soap:address location="http://localhost/MeasureAccessService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>